body{
    background-color: black;
    color: white;
    margin-left: 50px;
}

h1{
    margin-left: 0px;
    font-size: 100px;
    text-align: center;
}
h2{
    text-decoration: underline;
}

img{
    margin-left: 0px;
    margin:auto;
    display: block;
}

p{
    max-width: 50%;
}